@model IEnumerable<PhoneBookLib.Contact>

@{
    ViewData["Title"] = "Home";
}
<div class="rows">
    @Html.Partial("View")
    <div class="row4">
<h1>List of All Contacts</h1>

<table class="table table1">
    <tbody>
@foreach (var item in Model) {
                    <tr>                    
                        <td>
                            <img src=@Html.DisplayFor(modelItem => item.Picture) id="detailimg" />
                        </td>
                        
                    </tr>
        <tr>
                        
            <td>
                            <b>@Html.DisplayNameFor(model => model.Id):</b>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            </tr>
            <tr>
                        
            <td>
                            <b>@Html.DisplayNameFor(model => model.FirstName):</b>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
                        <td>
                            <b>@Html.DisplayNameFor(model => model.LastName):</b>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
            </tr>
            
            <tr>
            <td>
                            <b>@Html.DisplayNameFor(model => model.Gender):</b>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
                        <td>
                            <b>@Html.DisplayNameFor(model => model.Dob):</b>
                            @Html.DisplayFor(modelItem => item.Dob)
                        </td>
            </tr>
            
            <tr>
                       
            <td>
                <b>@Html.DisplayNameFor(model => model.Email):</b>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                        <td>
                            <b>@Html.DisplayNameFor(model => model.Phone):</b>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
            </tr>
          
            <tr>
                        
            <td>
                            <b>@Html.DisplayNameFor(model => model.City):</b>
                @Html.DisplayFor(modelItem => item.City)
            </td>
                        <td>
                            <b>@Html.DisplayNameFor(model => model.State):</b>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>                     
            </tr>
            <tr>
                <td>
                            <b> @Html.DisplayNameFor(model => model.Country):</b>
                            @Html.DisplayFor(modelItem => item.Country)
                </td>
            </tr>
            
            <tr>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id},htmlAttributes:new{@class="btn btn-warning"}) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id},htmlAttributes:new{@class="btn btn-success"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id},htmlAttributes:new{@class="btn btn-danger"})
            </td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
}
    </tbody>
</table>
</div>
</div>